<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="gps tracker">
    <meta name="author" content="daegi.jeong">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <!-- Custom styles for this template -->
    <link href="/stylesheets/jumbotron-narrow.css" rel="stylesheet">
    <script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>

    <!-- note: Font-awesome-->
    <script src="https://use.fontawesome.com/b909540812.js"></script>

    <!--note:Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    
    <!--note:jquery-json RPC-->
    <script src= 'javascripts/jquery.jsonrpc.js'></script>
   
   <!--node:User Script-->
   <script>
        $(function(){
            $.jsonRPC.setup({
                endPoint: 'http://localhost:3001/api',
                namespace:''
            });
            
            $('#sendBtn').click(function(){
                var lat = $('#input_lat').val(); console.log("lat: "+lat);
                var lng = $('#input_lng').val(); console.log("lng: "+lng);
                
                var a = parseInt(lat);
	            	var b = parseInt(lng);
	            	
	            	var method = 'push';
	                $.jsonRPC.request(method, {
	                	id: 1002,
                        contentType:'application/json',
	                    params: {
                            useridx:1,
                            lat:lat,
                            lng:lng,
                            alt:'-',
                            status_device:'-',
                            status_gps:'-',
                            gps_mode:'3D FIX'
                        },
	                    success: function(data) {
	                        //alert('정상 응답을 받았습니다.');
	                        /*console.dir(data);
	                        console.log(data.result);*/
                            $('#resultArea').text('GPS 등록 완료');
	                    },
	                    error: function(data) {
	                    	//alert('에러 응답을 받았습니다.');
	                    	//console.dir(data);
	                        //console.log(data.error.code + ', ' + data.error.message);
                            $('#resultArea').text(data.error.code + ', ' + data.error.message);
	                    }
	                });
	                
	                //println('[' + method + '] method로 요청을 보냈습니다.');
            });
        });
    </script>
</head>

<body>

    <div class="container">
        <!--note:상단 메뉴-->
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/map">Map</a></li>
                    <li role="presentation"><a href="#">Log</a></li>
                    <li role="presentation" class="active"><a href="#">Test</a></li>
                </ul>
            </nav>
            <h3 class="text-muted"><b>GPS Tracker</b></h3>
        </div>
        <!--note:Jumbotron-->
        <div class="jumbotron">
            <h2><b><i class="fa fa-code" aria-hidden="true"></i> Test Page</b></h2>
        </div>
        <!--note:Body-->
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Parameters</h4>
                <div>
                    위도 <input id="input_lat" type="text"/><br>
                    경도 <input id="input_lng" type="text"/>
                </div>
                <br>
                <!--note:테스트용 주석처리-->
                <!--<button class="btn btn-info" onclick="javascript:callApi()">Send</button>-->
                <button class="btn btn-info" id="sendBtn">Send</button>
            </div>
            <div class="col-lg-6">
                <h4>Result</h4>
                <textarea id="resultArea" style="width:100%"></textarea>
            </div>
        </div>
        <footer class="footer">
            <p>Daegi Jeong</p>
        </footer>
    </div>
    <!-- /container -->
</body>
 <script>
        /*function callApi(){
            var method='push';
            //console.log('api call function');
            var lat = $('#input_lat').val(); console.log("lat: "+lat);
            var lng = $('#input_lng').val(); console.log("lng: "+lng);
            
            var log = "Lat : "+ lat +", Lng : " + lng;
            
            $.jsonRPC.request(method,{
                id : '1001',
                data : { 'lat': lat, 'lng':lng},
                params : [lat,lng],
                success: function(data){
                    alert('정상응답을 받았습니다.');
                    console.dir(data);
                    console.log(data,result);
                },
                error: function(data){

                    alert('오류응답을 받았습니다.');
                    console.dir(data);
                    console.log(data.error);
                }
            });*/
            
            //note:simple post
            /*$.post({
                type:"POST",
                url:"http://localhost:3000/api/push",
                contentType:"application/json; charset=UTF-8",
                data: JSON.stringify({
                    'lat': lat,
                    'lng': lng,
                    'name' : 'Daegi.Jeong'
                }),
                success: function(result){
                    console.log('전송이 완료되었습니다.');
                    console.log(result);
                    $("#resultArea").text(result);
                },
                error: function(e){
                    alert('전송 실패 하였습니다.');
                    console.log(e.responseText);
                }
            });

            $("#resultArea").text(log);
        }//*/
    </script>
</html>
